absl-py==0.1.13
appnope==0.1.2
argon2-cffi==20.1.0
astor==0.6.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==1.5.0
certifi==2018.1.18
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.3.9
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.10
importlib-metadata==3.1.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==2.2.2
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.4.5
notebook==6.1.5
numpy==1.14.2
packaging==20.7
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.5.2.post1
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.3
pyparsing==2.2.0
pyrsistent==0.17.3
python-dateutil==2.7.2
pytz==2018.3
pyzmq==20.0.0
regex==2020.11.13
requests==2.25.0
sacremoses==0.0.43
Send2Trash==1.5.0
sentencepiece==0.1.94
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tokenizers==0.9.4
torch==1.7.0
tornado==6.1
tqdm==4.54.0
traitlets==4.3.3
transformers==4.0.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==0.15.3
zipp==3.4.0
